body{
    background-color: rgb(220, 220, 220);
}
.pageTitle{
    color: rgb(120, 120, 120);
    font-size: 40px;
}
.subjectTitle{
    color: lightcoral;
}

.item img{
    min-width: 100%;
}
.CarouselMain{
    height: 400px;
    overflow: hidden;
}
body .container{
    margin-top: 40px;
}
body > .container{
    margin-top: 50px;
    margin-bottom: 200px;
}
body .container .contentMain{
    margin-bottom: 50px;
}
.cardContent{
    text-align: center;
}
#accordGroup img {
    width: 400px;
    height: 200px;
}
/*Nor Down*/
.images{
    width: 33%;
}
.images div{
    border: dashed thick red;
    margin-bottom: 10px;
    
}
.CatCardImages img{
    max-width: 100%;
    height: auto;
}
